@model IEnumerable<Car>
@{
    ViewData["Title"] = "Index";
}

<h1>Cars</h1>

<p>
    <a asp-action="Create">Add new car</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Regnumber</th>
            <th>Brand</th>
            <th>Model</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RegNumber</td>
                <td>@item.Brand</td>
                <td>@item.CarModel</td>

                <td>
                    <a asp-action="Edit" asp-route-regnumber="@item.RegNumber">Edit</a>
                    <a asp-action="Delete" asp-route-regnumber="@item.RegNumber">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

